In [1]:
from Dateaubase import *

In [2]:
cursor, conn = create_connection()

In [3]:
import pandas as pd

In [45]:
location = 'Primary settling tank effluent'
project = 'pilEAUte'
equipment = 'Spectro_010'
parameter = 'COD'
query ='''SELECT  MIN(dbo.value.Timestamp), MAX(dbo.value.Timestamp)
FROM dbo.parameter
left outer join dbo.metadata on dbo.parameter.Parameter_ID = dbo.metadata.Parameter_ID 
left outer join dbo.value on dbo.value.Metadata_ID = dbo.metadata.Metadata_ID
left outer join dbo.unit on dbo.parameter.Unit_ID = dbo.unit.Unit_ID
left outer join dbo.equipment on dbo.metadata.Equipment_ID = dbo.equipment.Equipment_ID
left outer join dbo.sampling_points on dbo.metadata.Sampling_point_ID = dbo.sampling_points.Sampling_point_ID
left outer join dbo.project on dbo.metadata.Project_ID = dbo.project.Project_ID
WHERE dbo.sampling_points.Sampling_location = \'{}\'
AND dbo.parameter.Parameter = \'{}\'
AND dbo.equipment.Equipment_identifier = \'{}\'
AND dbo.project.Project_name = \'{}\';
'''.format(location, parameter,equipment, project)

In [10]:
project='pilEAUte'

query = '''
    SELECT
    dbo.parameter.Parameter,
    dbo.equipment.Equipment_identifier,
    dbo.sampling_points.Sampling_location
    
    FROM dbo.parameter
    left outer join dbo.equipment_model_has_parameter on dbo.equipment_model_has_parameter.Parameter_ID = dbo.parameter.Parameter_ID
    left outer join dbo.equipment_model on dbo.equipment_model.Equipment_model_ID = dbo.equipment_model_has_parameter.Equipment_model_ID
    left outer join dbo.equipment on dbo.equipment.Equipment_model_ID = dbo.equipment_model.Equipment_model_ID
    left outer join dbo.equipment_has_sampling_points on dbo.equipment_has_sampling_points.Equipment_ID = dbo.equipment.Equipment_ID
    left outer join dbo.sampling_points on dbo.sampling_points.Sampling_point_ID = dbo.equipment_has_sampling_points.Sampling_point_ID
    left outer join dbo.project_has_sampling_points on dbo.project_has_sampling_points.Sampling_point_ID = dbo.sampling_points.Sampling_point_ID
    left outer join dbo.project on dbo.project.Project_ID = dbo.project_has_sampling_points.Project_ID
    WHERE
    dbo.project.Project_name = \'{}\'
    ORDER BY dbo.sampling_points.Sampling_location;
    '''.format(project)
test = pd.read_sql(query, conn)
print(test)
test.to_csv('pileaute_params.csv')

            Parameter Equipment_identifier               Sampling_location
0         Temperature              TIT-312   Copilore internal recycle OUT
1               NH4-N           Varion_001               Copilote effluent
2               NO3-N           Varion_001               Copilote effluent
3                   K           Varion_001               Copilote effluent
4           Turbidity             TurbR300               Copilote effluent
5   Flowrate (Liquid)              FIT-120               Copilote influent
6   Flowrate (Liquid)              FIT-350    Copilote internal recycle IN
7         Temperature              TIT-311    Copilote internal recycle IN
8                 TSS              AIT-340              Copilote reactor 2
9      Flowrate (Gas)              FCV-440              Copilote reactor 3
10     Flowrate (Gas)              FIT-440              Copilote reactor 3
11     Flowrate (Gas)              FIT-450              Copilote reactor 4
12     Flowrate (Gas)              FCV-450              Copilote reactor 4
13                 DO              AIT-341              Copilote reactor 4
14     Flowrate (Gas)              FCV-460              Copilote reactor 5
15     Flowrate (Gas)              FIT-460              Copilote reactor 5
16  Flowrate (Liquid)              FIT-360         Copilote sludge recycle
17                TSS              AIT-360         Copilote sludge recycle
18  Flowrate (Liquid)              FIT-021            Copilote wet weather
19              NH4-N           Varion_002                 Pilote effluent
20              NO3-N           Varion_002                 Pilote effluent
21                  K           Varion_002                 Pilote effluent
22                 pH               pH_011                 Pilote effluent
23        Temperature               pH_011                 Pilote effluent
24          Turbidity             TurbR200                 Pilote effluent
25  Flowrate (Liquid)              FIT-110                 Pilote influent
26  Flowrate (Liquid)              FIT-250      Pilote internal recycle IN
27        Temperature              TIT-211      Pilote internal recycle IN
28        Temperature              TIT-212     Pilote internal recycle OUT
29                TSS              AIT-240                Pilote reactor 2
30     Flowrate (Gas)              FCV-410                Pilote reactor 3
31     Flowrate (Gas)              FIT-410                Pilote reactor 3
32     Flowrate (Gas)              FIT-420                Pilote reactor 4
33     Flowrate (Gas)              FCV-420                Pilote reactor 4
34                 DO              AIT-241                Pilote reactor 4
35     Flowrate (Gas)              FCV-430                Pilote reactor 5
36     Flowrate (Gas)              FIT-430                Pilote reactor 5
37                TSS              AIT-260           Pilote sludge recycle
38  Flowrate (Liquid)              FIT-260           Pilote sludge recycle
39  Flowrate (Liquid)              FIT-011              Pilote wet weather
40       Conductivity              AIT-110  Primary settling tank effluent
41        Temperature              AIT-110  Primary settling tank effluent
42              NO3-N          Spectro_010  Primary settling tank effluent
43                COD          Spectro_010  Primary settling tank effluent
44               CODf          Spectro_010  Primary settling tank effluent
45                TSS          Spectro_010  Primary settling tank effluent
46                 pH             Ammo_005  Primary settling tank effluent
47              NH4-N             Ammo_005  Primary settling tank effluent
48                  K             Ammo_005  Primary settling tank effluent
49        Temperature             Ammo_005  Primary settling tank effluent
50              NH4-N           Varion_003  Primary settling tank effluent
51              NO3-N           Varion_003  Primary settling tank effluent
52                  K           Varion_003  Primary settling tank effluent
53              NH4-N           Varion_005  Primary settling tank effluent
54              NO3-N           Varion_005  Primary settling tank effluent
55       Conductivity          Conduct_011  Primary settling tank effluent
56        Temperature          Conduct_011  Primary settling tank effluent
57        Temperature              TIT-111  Primary settling tank effluent
58             Height              LIT-100  Primary settling tank influent
59  Flowrate (Liquid)              FIT-100  Primary settling tank influent

In [46]:
df = pd.read_sql(query, conn)
df.columns=['first','last']
first = epoch_to_pandas_datetime(df.at[0,'first'])
last = epoch_to_pandas_datetime(df.at[0,'last'])
print(first)
print(last)

2016-03-23 05:21:30
2018-05-24 08:32:00

In [47]:
df.iat[0,1]

1527165120

In [48]:
df.at[0,'first']

1458724890

In [21]:
first = epoch_to_pandas_datetime(pd.read_sql(query, conn).to_numpy()[0][1])

In [22]:
first

Timestamp('2016-03-23 05:21:30')

In [16]:
last = epoch_to_pandas_datetime(pd.read_sql(query, conn).to_numpy()[0][0])

In [17]:
last

Timestamp('2018-05-24 08:32:00')